.products {
  width: 100%;
  max-width: 50rem;
  margin-right: 2rem;
}

.products__type {
  font-size: 2.5rem;
  font-weight: var(--font-bold);
  color: var(--rose-900);
  margin-bottom: 2.0625rem;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 1.46875rem;
  row-gap: 1.9375rem;
}

.product {
  position: relative;
  max-width: 15.6875rem;
}

.product::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
  transition: border 0.05s ease-in-out;
}

.product.selected::before {
  border: 0.1875rem solid var(--red);
}

.product__img {
  object-fit: cover;
  height: 15rem;
  border-radius: 0.5rem;
  margin-bottom: 2.25rem;
}

.product__category {
  font-size: 0.875rem;
  color: var(--rose-400);
}

.product__name {
  font-weight: var(--font-semi-bold);
  margin: 0.3125rem 0 0.1875rem 0;
}

.product__price {
  font-weight: var(--font-semi-bold);
  color: var(--red);
}

.product__actions {
  position: absolute;
  top: 13.625rem;
  left: calc(50% - 0.0625rem);
  transform: translateX(-50%);
  background-color: hsl(0, 0%, 100%);
  height: 2.75rem;
  width: 9.9375rem;
  border: 0.0625rem solid var(--rose-400);
  border-radius: 1.5rem;
  overflow: hidden;
  transition: background-color 0.15s ease-in-out;
}

.product.selected .product__actions {
  background-color: var(--red);
  border-color: var(--red);
}

.product__actions > * {
  width: 100%;
  height: 100%;
}

.product__add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.625rem;
  font-size: 0.9375rem;
  font-weight: var(--font-semi-bold);
  letter-spacing: -0.0340909090909091rem;
  transition: background-color 0.15s ease-in-out;
}

.product__add-to-cart-icon {
  width: 1.375rem;
}

.product__cart-actions,
.product__add-to-cart-button {
  position: absolute;
  transition: opacity 0.05s ease-in-out;
}

.product__cart-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9375rem;
  color: var(--rose-50);
  padding: 0 0.75rem;
}

.product__cart-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.125rem;
  width: 1.125rem;
  border: 0.0625rem solid var(--rose-50);
  border-radius: 50%;
  transition: opacity 0.15s ease-in-out;
}

.product__cart-action-btn:hover,
.product__cart-action-btn:focus {
  opacity: 0.75;
}

.product__cart-action-btn > img {
  width: 0.5rem;
}

.product__actions:hover,
.product__add-to-cart-button:focus-within {
  background-color: hsl(0, 0%, 94%);
}

.product__cart-actions,
.product.selected .product__add-to-cart-button {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.product.selected .product__cart-actions {
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}

@media (max-width: 1300px) {
  .products {
    margin: 0 0 1.875rem 0;
  }
}

@media (max-width: 700px) {
  .product::before {
    height: 11.15rem;
  }

  .products__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product__img {
    height: 11.15rem;
  }

  .product__actions {
    top: 9.6rem;
  }
}

@media (max-width: 600px) {
  .products__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .products__list {
    grid-template-columns: 1fr;
    row-gap: 1.425rem;
  }

  .product {
    max-width: none;
  }

  .product::before {
    height: 13.25rem;
  }

  .product__img {
    width: 100%;
    height: 13.25rem;
  }

  .product__actions {
    top: 11.875rem;
  }
}